@charset "utf-8";
/* CSS Document */
a:link{ color:#06F;} /* 未访问的链接*/ 
a:visited {color: #06F;} /* 已访问的链接*/ 
a:hover{color: #F00;}*/ /* 鼠标移动到链接上*/ 
a:active{color: #06F;}*/*/ /* 选定的链接 */
a{
	text-decoration:none;}
.linear{ 
width:100%; 
height:600px; 
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#66CCFF,endColorStr=#fafafa); /*IE*/ 
background:-moz-linear-gradient(left,#66CCFF,#fafafa);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 60% 50%,from(#66CCFF), to(#fafafa));/*谷歌*/ 
background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #66CCFF),color-stop(1, #fafafa));/* Safari & Chrome*/ 
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66CCFF', endColorstr='#fafafa'); /*IE6 & IE7*/ 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66CCFF', endColorstr='#fafafa')"; /* IE8 */ 
} 
 
.linearleft{ 
width:100%; 
height:600px; 
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#66CCFF,endColorStr=#fafafa); /*IE*/ 
background:-moz-linear-gradient(top,#66CCFF,#fafafa);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 60% 60%,from(#66CCFF), to(#fafafa));/*谷歌*/ 
background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #66CCFF),color-stop(1, #fafafa));/* Safari & Chrome*/ 
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66CCFF', endColorstr='#fafafa'); /*IE6 & IE7*/ 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66CCFF', endColorstr='#fafafa')"; /* IE8 */ 
} 

